@import '../../styles/variables';
.clinic-detail-container {
    padding: 0 120px;
}
.clinic-detail-header {
    margin: 40px 0;
}
.clinic-detail-header-avatar {
    width: 120px !important;
    height: 120px;
}
.btn-booking {
    width: 100%;
    max-width: 280px;
    display: block;
    text-align: center;
    padding: 8px 0;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: $colormain;
    color: #fff;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 12px;
    &:hover {
        background-color: darken($colormain, 5%);
    }
}

@media screen and (max-width: 599px) {
    .clinic-detail-container {
        padding: 0 20px;
    }
    .clinic-detail-header {
        margin: 20px 0;
    }
    .btn-booking {
        height: 43px;
        font-size: 1.1rem;
    }
}
