.doctor-info-content {
    background-color: transparent;

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
    }

    .doctor-position {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2;
    }
}
