@import '../../styles/variables';

.doctor-extra-info-container {
    .info-title {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
        color: $text-color-grey;
        line-height: 2;
    }
    .break-line {
        border-bottom: 1px solid $border;
        padding-bottom: 1rem;
    }
    .clinic-name {
        font-weight: 600;
        color: $text-color;
        line-height: 2;
    }
}

@media screen and (max-width: 768px) {
    .doctor-extra-info-container .break-line {
        border: none;
        padding: 0;
    }
}
