@import '../../../styles/variables';

.image-container {
    img {
        width: 100%;
    }
    .handbook-image {
        width: 100%;
        height: 144px;
        object-fit: fill;
    }
}
@media screen and (max-width: 599px) {
    .image-container {
        .handbook-image {
            object-fit: contain;
        }
    }
}
